div.mei-form-join
  ul.mei-choice
    li.mei-option(value="black")
      span="Join as "
      span.enlight="black"
      span=" player"
    li.mei-option(value="white")
      span="Join as "
      span.enlight="white"
      span=" player"
    li.mei-option(value="spectate")
      span="Remain a spectator"
