html
  head
    title= title
    meta(content='go, go game, shuban, goban', name='keywords')
    meta(content='Meishengo is an HTML5 go game app', name='description')
    link(rel='icon', type='image/png', href='/assets/logo.png')
    script(src="/socket.io/socket.io.js")
    script(src=js)
    link(rel="stylesheet" type="text/css" href= css)
  body
    div.mei-layout-sandwich
      div.mei-header
      div.mei-content
        h1
          span="MEISHEN"
          span(class="go")="GO"
      div.mei-footer
    script.
        boot({game: !{game}, id: "!{id}", port: !{port}});

