html
  head
    title= title
    meta(content='go, go game, shuban, goban', name='keywords')
    meta(content='Meishengo is an HTML5 go game app', name='description')
    link(rel='icon', type='image/png', href='/assets/logo.png')
    link(rel="stylesheet" type="text/css" href= css)
    script(src=js)
  body
    div.mei-layout-split
      div.mei-top
        h1.hidden
          span="MEISHEN"
          span(class="go")="GO"
      div.mei-bottom
        a(href="/new-game")
          h2.hidden="NEW GAME"
    script.
        boot();

